@model IEnumerable<obligatorio2024.Models.Cotizacion>

@{
    ViewData["Title"] = "Index";
}

<h1 class="category">Cotizaciones</h1>


<div class="el-que-contiene">
<table class="table">
    <thead>
        <tr>
            <th>
                Cotizacion
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pagos)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Cotizacion1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pagos.Id)
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-custom-icon btn-delete"></a>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>