html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #F0F0EE;
}

.category {
    margin-left: 29px;
    color: #AB9746;
}

.submenu-categories {
    font-size: 0.9em;
    margin-left: 20px;
    padding-left: 10px;
    border-left: 1px solid #ccc;
}
    .submenu-categories .nav-link {
        font-size: 0.9em;
        padding-left: 20px;
    }


.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    border-collapse: collapse;
}

    .table th, .table td {
        padding: 0.75rem;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
    }

    .table thead th {
        vertical-align: bottom;
        border-bottom: 1px solid #dee2e6;
        background-color: #500B0B; /* Color de fondo del encabezado */
        color: #FFFF;
    }

    .table tbody + tbody {
        border-top: 1px solid #dee2e6;
    }

.table-sm th, .table-sm td {
    padding: 0.3rem;
}

.table-bordered {
    border: 1px solid #dee2e6;
}

    .table-bordered th, .table-bordered td {
        border: 1px solid #dee2e6;
    }

    .table-bordered thead th, .table-bordered thead td {
        border-bottom-width: 2px;
    }

.table-hover tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.075);
}

.table-primary, .table-primary > th, .table-primary > td {
    background-color: #b8daff;
}

.table-hover .table-primary:hover {
    background-color: #9fcdff;
}

    .table-hover .table-primary:hover > td, .table-hover .table-primary:hover > th {
        background-color: #9fcdff;
    }

.login-container {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 10;
}

.navbar {
    flex-shrink: 0;
     animation: slide-in 1s ease-out;
}
.login-button {
    padding: 5px 15px; /* Ajusta el padding según sea necesario */
    border: 1px solid #FFFF; /* Borde de 1 píxel sólido y blanco */
    border-radius: 10px; /* Esquinas redondeadas con un radio de 10 píxeles */
    background-color: transparent;
    color: #FFFF; /* Color del texto */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    text-decoration: none;
}

.content-wrapper {
    display: flex;
    flex-grow: 1;
}


.logo {
    width: 150px;
    height: 100px;
    margin: 0px 20px 0px 8px;
    animation: slide-in 1s ease-out;
}

@keyframes slide-in-left {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-right {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.container {
    background-color: #F0F0EE;
    padding: 30px;
    border-bottom: 1.5px solid white;
}
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: #F0F0EE;
    padding: 15px;
    flex-shrink: 0;
    border: 1.5px solid white;
}

sidebar a {
    text-decoration: none;
    display: block;
}

.main-content {
    flex-grow: 1;
    margin-left: 200px;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .main-header h1 {
        margin: 0;
    }

body {
    margin: 0;
    padding: 0;
}

{
    box-sizing: border-box
}

.mySlides1, .mySlides2 {
    display: none
}

img {
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.container-slider{
    padding: 2rem;
}

.slider-wrapper {
    position: relative;
    max-width: 58rem;
    margin: 0 auto;
}

.slider {
    display: flex;
    aspect-ratio: 16 / 9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
    -ms-overflow-style: none; /* Hide scrollbar IE and Edge */
    scrollbar-width: none; /* Hide scrollbar Firefox */
}

    /* Hide scrollbar for Chrome, Safari and Opera */
    .slider::-webkit-scrollbar {
        display: none;
    }

    .slider img {
        flex: 1 0 100%;
        scroll-snap-align: start;
        object-fit: cover;
    }

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

    .slider-nav a {
        width: 0.5rem;
        height: 0.5rem;
        border-radius: 50%;
        background-color: #fff;
        opacity: 0.75;
        transition: opacity ease 250ms;
    }

        .slider-nav a:hover {
            opacity: 1;
        }

.hero {
    background-color: #500B0B;
    padding: 60px 0;
    border-bottom: 1.5px solid white;
}

    .hero .container {
        display: flex;
        align-items: center;
    }

    .hero h1 {
        font-size: 3rem;
        font-weight: bold;
        margin-bottom: 20px;
        animation: slide-in-right 1s ease-out;
    }

    .hero p {
        font-size: 1.25rem;
        color: #FFFF;
        text-align:center;
        animation: slide-in-right 1s ease-out;
    }
.image-container {
    width: 100%; /* Ancho del contenedor */
    height: 300px; /* Altura del contenedor, ajústala según tus necesidades */
    overflow: hidden; /* Esconde cualquier parte de la imagen que se salga del contenedor */
    position: relative; /* Necesario para posicionar la imagen de manera absoluta dentro del contenedor */
}

.row {
    margin-left: 20px;
}

.about-us {
    background-color: #500B0B;
    padding: 30px;
    color: #FFFF;
    border-bottom: 1.5px solid white;
}

    .about-us h2 {
        color: #AB9746;
    }

    .hero img {
        width: 100%;
        height: 70%;
        object-fit: cover; /* Ajusta la imagen para cubrir el contenedor sin deformarse */
        object-position: center;
        max-width: 500px;
        border-radius: 10px;
        animation: slide-in-right 1s ease-out;
    }

.hero .login-btn {
        position: absolute;
        top: 1rem;
        right: 1rem;
}



.section-title {
    text-align: center;
    margin-bottom: 2rem;
}

    .section-title h2 {
        font-size: 2rem;
        margin-bottom: 1rem;
        color: #AB9746;
    }

    .section-title p {
        color: #838383;
    }

.card img {
    height: 12rem;
    object-fit: cover;
}


.card-body {
    background-color: #752929;
    border-radius: 0px 0px 8px 8px;
}
.card-title, .card-text, .font-weight-bold {
    color: white;
}

.icono-nav {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}