@model IEnumerable<obligatorio2024.Models.Menu>

@{
    ViewData["Title"] = "Home";
    var weatherData = ViewBag.WeatherData as obligatorio2024.Models.Welcome;
    var claims = User.Claims.Select(c => new { c.Type, c.Value }).ToList();
}

<section class="hero d-flex align-items-center">
    <div class="image-container">
        <div class="row">
            <div class="col-md-6">
                <img src="~/images/ia-despegada.webp" class="img-fluid rounded" alt="About Us">
            </div>
            <div class="col-md-6 text-center">
                <h1>
                    <img src="~/images/mal-tiempo2.png" class="img-fluid rounded" alt="About Us">
                </h1>
                <p>Vive una experiencia inolvidable. Ofrecemos una amplia variedad de platillos elaborados con los mejores ingredientes frescos.</p>
                <div class="weather-info">
                    @if (weatherData != null)
                    {
                        <div class="weather-widget">
                            <span class="location">Punta del Este</span>
                            <span class="temperature">@weatherData.Main.Temp °C</span>
                        </div>
                    }
                    else
                    {
                        <p>No se pudieron obtener los datos del clima.</p>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="section-title">
            <h2>Tu restaurante de preferencia</h2>
            <p>Explora nuestra deliciosa selección de platos y bebidas.</p>
        </div>
        <section class="container-slider">
            <div class="slider-wrapper">
                <div class="slider">
                    <img id="slide-1" src="https://images.unsplash.com/photo-1533777857889-4be7c70b33f7?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="3D rendering of an imaginary orange planet in space" />
                    <img id="slide-2" src="https://images.unsplash.com/photo-1592861956120-e524fc739696?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="3D rendering of an imaginary green planet in space" />
                    <img id="slide-3" src="https://images.unsplash.com/photo-1424847651672-bf20a4b0982b?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="3D rendering of an imaginary blue planet in space" />
                </div>
                <div class="slider-nav">
                    <a href="#slide-1"></a>
                    <a href="#slide-2"></a>
                    <a href="#slide-3"></a>
                </div>
            </div>
        </section>
</section>

<section class="about-us">
    <div class="image-container">
        <div class="row">
            <div class="col-md-6">
                <h2>Acerca de nosotros</h2>
                <p>Bienvenidos a <strong>Al mal tiempo, buena cara</strong>. Desde hace más de 20 años, hemos sido su restaurante de confianza, dedicados a ofrecer una experiencia culinaria excepcional con ingredientes frescos y locales, comprometidos con la sostenibilidad.</p>
                <p>Nos enorgullece nuestra atención al detalle y el servicio excepcional de nuestro amable y profesional equipo, que le brindará una experiencia inolvidable especialmente en días de frío y lluvia, cuando ofrecemos grandes descuentos para quienes nos visitan.</p>
            </div>
            <div class="col-md-6">
                <img src="https://images.unsplash.com/photo-1414235077428-338989a2e8c0?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="img-fluid rounded" alt="About Us">
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="section-title">
            <h2>Contact Us</h2>
            <p>Have a question or want to make a reservation? Fill out the form below and we'll get back to you as soon as possible.</p>
        </div>
        <form>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Name">
            </div>
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Email">
            </div>
            <div class="form-group">
                <textarea class="form-control" placeholder="Message"></textarea>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Submit</button>
        </form>
    </div>
</section>
