@{
    ViewData["Title"] = "Home Page";
}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">MiAplicación</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                @if (Context.Session.GetString("UsuarioEmail") == null)
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Usuarios" asp-action="Login">Login</a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <form asp-controller="Usuarios" asp-action="LogOff" method="post" class="form-inline">
                            <button type="submit" class="btn btn-link nav-link">Log Off</button>
                        </form>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
