@model obligatorio2024.Models.RolPermiso

@{
    ViewData["Title"] = "Edit";
}

<h1 class="category">Edit</h1>

<div class="el-que-contiene">
<h4>RolPermiso</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdRol" />
            <input type="hidden" asp-for="IdPermisos" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
</div>
