<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Al mal tiempo, buena cara</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="icon" type="image/x-icon" href="~/images/favicon.ico" />
    <style>
        .submenu-categories {
            font-size: 0.9em;
            margin-left: 15px;
        }

        .footer {
            background-color: #F0F0EE; 
            color: #2C0303E;
            text-align: center;
            padding: 3px 0;
            font-size: 0.8em;
            position: relative;
            width: 100%;
            bottom: 0;
        }

        .content-wrapper {
            min-height: calc(100vh - 70px); /
            position: relative;
            padding-bottom: 70px; /
        }
    </style>
</head>
<body>
    @using System.Security.Claims
    @using System.Linq;
    @{
        var claimsIdentity = User.Identity as ClaimsIdentity;
        var permisosClaim = claimsIdentity?.FindFirst("Permisos");
        var permisos = permisosClaim?.Value?.Split(',');
    }
    <header>
        <div class="login-container">
            <ul class="navbar-nav">
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">
                        <form asp-controller="Inicio" asp-action="LogOff" method="post">
                            <button type="submit" class="login-button">Log Off</button>
                        </form>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="login-button" asp-area="" asp-controller="Inicio" asp-action="Login">Login</a>
                    </li>
                }
            </ul>
        </div>
    </header>
    <div class="content-wrapper">
        <div class="sidebar">
            <ul class="nav flex-column">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="/images/logo-obligatorio2024.png" alt="Mal Tiempo" class="logo">
                </a>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">
                        <img src="https://img.icons8.com/?size=100&id=4027&format=png&color=000000" alt="" class="icono-nav" />
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" data-bs-toggle="collapse" href="#menuClienteSubMenu" role="button" aria-expanded="false" aria-controls="menuClienteSubMenu">
                        <img src="https://img.icons8.com/?size=100&id=6899&format=png&color=000000" alt="" class="icono-nav" />
                        Menú 
                    </a>
                    <div class="collapse" id="menuClienteSubMenu">
                        <ul class="nav flex-column ms-3 submenu-categories">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Menus" asp-action="Entradas">Entradas</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Menus" asp-action="PlatosPrincipales">Platos Principales</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Menus" asp-action="Guarniciones">Guarniciones</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Menus" asp-action="Postres">Postres</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Menus" asp-action="MenusEspeciales">Menús Especiales</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Menus" asp-action="Bebidas">Bebidas</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Menus" asp-action="BebidasAlcoholicas">Bebidas Alcohólicas</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Menus" asp-action="Brunch">Brunch</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Reseña" asp-action="Index">
                        <img src="https://img.icons8.com/?size=100&id=5456&format=png&color=000000" alt="" class="icono-nav" />
                        Reseñas
                    </a>
                </li>
                @if (User.Identity.IsAuthenticated && permisos.Contains("ver restaurantes"))
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Restaurantes" asp-action="Index">
                            <img src="https://img.icons8.com/?size=100&id=3723&format=png&color=000000" alt="" class="icono-nav" />
                            Restaurantes
                        </a>
                    </li>
                }
                @if (User.Identity.IsAuthenticated && permisos.Contains("ver mesas"))
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Mesas" asp-action="Index">
                            <img src="https://img.icons8.com/?size=100&id=eR63rSMC27c2&format=png&color=000000" alt="" class="icono-nav" />
                            Mesas
                        </a>
                    </li>
                }
                @if (User.Identity.IsAuthenticated && permisos.Contains("ver reservas"))
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Reservas" asp-action="Index">
                            <img src="https://img.icons8.com/?size=100&id=4027&format=png&color=000000" alt="" class="icono-nav" />
                            Reservas
                        </a>
                    </li>
                }
                @if (User.Identity.IsAuthenticated && permisos.Contains("ver ordenes"))
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Ordenes" asp-action="Index">
                            <img src="https://img.icons8.com/?size=100&id=4255&format=png&color=000000" alt="" class="icono-nav" />
                            Ordenes
                        </a>
                    </li>
                }
                @if (User.Identity.IsAuthenticated && permisos.Contains("ver pagos"))
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Pagoes" asp-action="Index">
                            <img src="https://img.icons8.com/?size=100&id=77124&format=png&color=000000" alt="" class="icono-nav" />
                            Pagos
                        </a>
                    </li>
                }
                @if (User.Identity.IsAuthenticated && permisos.Contains("ver clientes"))
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Clientes" asp-action="Index">
                            <img src="https://img.icons8.com/?size=100&id=98957&format=png&color=000000" alt="" class="icono-nav" />
                            Clientes
                        </a>
                    </li>
                }
                @if (User.Identity.IsAuthenticated && permisos.Contains("ver roles"))
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Roles" asp-action="Index">
                            <img src="https://img.icons8.com/?size=100&id=uHls6vb2ek05&format=png&color=000000" alt="" class="icono-nav" />
                            Roles
                        </a>
                    </li>
                }
                @if (User.Identity.IsAuthenticated && permisos.Contains("ver permisos"))
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Permisoes" asp-action="Index">
                            <img src="https://img.icons8.com/?size=100&id=5456&format=png&color=000000" alt="" class="icono-nav" />
                            Permisos
                        </a>
                    </li>
                }
                @if (User.Identity.IsAuthenticated && permisos.Contains("ver usuarios"))
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Usuarios" asp-action="Index">
                            <img src="https://img.icons8.com/?size=100&id=123486&format=png&color=000000" alt="" class="icono-nav" />
                            Usuarios
                        </a>
                    </li>
                }
            </ul>
        </div>
        <div class="main-content">
            @RenderBody()
        </div>
    </div>
    
    <footer class="footer">
        <hr />
        © 2024 - Al mal tiempo, buena cara. Todos los derechos reservados.
        <br />
        Contacto: info@almaltiempo.com | Teléfono: +123 456 7890
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
