<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Al mal tiempo, buena cara</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <style>
        .submenu-categories {
            font-size: 0.9em;
            margin-left: 15px;
        }
    </style>
</head>
<body>
    <header>
        <div class="login-container">
            <ul class="navbar-nav">
                @if (Context.Session.GetString("UsuarioEmail") == null)
                {
                    <li class="nav-item">
                        <a class="login-button" asp-area="" asp-controller="Usuarios" asp-action="Login">Login</a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <form asp-controller="Usuarios" asp-action="LogOff" method="post">
                            <button type="submit" class="login-button">Log Off</button>
                        </form>
                    </li>
                }
            </ul>
        </div>
    </header>
    <div class="content-wrapper">
        <div class="sidebar">
            <ul class="nav flex-column">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="/images/logo-obligatorio2024.png" alt="Mal Tiempo" class="logo">
                </a>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">
                        <img src="https://img.icons8.com/?size=100&id=4027&format=png&color=000000" alt="" class="icono-nav" />
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Reseña" asp-action="Index">
                        <img src="https://img.icons8.com/?size=100&id=5456&format=png&color=000000" alt="" class="icono-nav" />
                        Reseñas
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Restaurantes" asp-action="Index">
                        <img src="https://img.icons8.com/?size=100&id=3723&format=png&color=000000" alt="" class="icono-nav" />
                        Restaurantes
                    </a>
                </li>
                @if (Context.Session.GetString("UsuarioEmail") != null)
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" data-bs-toggle="collapse" href="#menuClienteSubMenu" role="button" aria-expanded="false" aria-controls="menuClienteSubMenu">
                            <img src="https://img.icons8.com/?size=100&id=6899&format=png&color=000000" alt="" class="icono-nav" />
                            Menú Cliente
                        </a>
                        <div class="collapse" id="menuClienteSubMenu">
                            <ul class="nav flex-column ms-3 submenu-categories">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Menus" asp-action="Entradas">Entradas</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Menus" asp-action="PlatosPrincipales">Platos Principales</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Menus" asp-action="Guarniciones">Guarniciones</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Menus" asp-action="Postres">Postres</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Menus" asp-action="MenusEspeciales">Menús Especiales</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Menus" asp-action="Bebidas">Bebidas</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Menus" asp-action="BebidasAlcoholicas">Bebidas Alcohólicas</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Menus" asp-action="Brunch">Brunch</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Mesas" asp-action="Index">
                            <img src="https://img.icons8.com/?size=100&id=eR63rSMC27c2&format=png&color=000000" alt="" class="icono-nav" />
                            Mesas
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Ordenes" asp-action="Index">
                            <img src="https://img.icons8.com/?size=100&id=4255&format=png&color=000000" alt="" class="icono-nav" />
                            Ordenes
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Menus" asp-action="Index">
                            <img src="https://img.icons8.com/?size=100&id=6899&format=png&color=000000" alt="" class="icono-nav" />
                            Menus
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Pagoes" asp-action="Index">
                            <img src="https://img.icons8.com/?size=100&id=77124&format=png&color=000000" alt="" class="icono-nav" />
                            Pagos
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Reseña" asp-action="Index">
                            <img src="https://img.icons8.com/?size=100&id=5456&format=png&color=000000" alt="" class="icono-nav" />
                            Reseñas
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Reservas" asp-action="Index">
                            <img src="https://img.icons8.com/?size=100&id=4027&format=png&color=000000" alt="" class="icono-nav" />
                            Reservas
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Usuarios" asp-action="Index">
                            <img src="https://img.icons8.com/?size=100&id=123486&format=png&color=000000" alt="" class="icono-nav" />
                            Usuarios
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Roles" asp-action="Index">
                            <img src="https://img.icons8.com/?size=100&id=uHls6vb2ek05&format=png&color=000000" alt="" class="icono-nav" />
                            Roles
                        </a>
                    </li>
                }
            </ul>
        </div>
        <div class="main-content">
            @RenderBody()
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
